/*#9cdcec - lichtblauw */
/*#9cb4ec - Donkerblauw*/

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(#9cdcec,#ffffff);
    background-repeat: no-repeat;
    min-height: 100vh;
    
}

header {
    background-color: #9cdcec;
    margin: 0;

}
.navigatie1 ul {
    display: flex;
    justify-content: center;
}

#logo {
    width: 2rem;
    display: flex;
    top: 3rem;
    position: absolute;
    margin-left: -16px;
}
header h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    padding-top: 1rem;
    text-align: center;
    color: white;
    position: relative;
    margin: 0 0.5rem 0 0;
    left: -1rem;
}

.navigatie2 h1 {
    position: relative;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #9cdcec;
    font-size: 2.5rem;
}

li {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    list-style-type: none;
}

main {
    display: flex;
    justify-content: center;
}

#user {
    background-color: white;
    width: 100%;
    padding: 0.5rem;
    max-width: 20rem;
    border-radius: 15px;
    margin-top: 5rem;
    margin-bottom: 9rem;
    -webkit-box-shadow: 6px 7px 33px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 33px -8px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 33px -8px rgba(0,0,0,0.75);
}

h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #9cb4ec;
    font-size: 2rem;
    margin: 1rem;
}

img {
    display: flex;
    justify-content: center;
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

p {
    font-family: 'Quicksand', sans-serif;
    margin: 1.5rem;
    padding: 0;
}

#menu {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#menu a {
    display: flex;
    justify-content: space-around;
    padding: 0;
    text-decoration: none;
    color: white; 
    margin: 1rem;
}

#menu a:hover {
    display: flex;
    justify-content: space-around;
    padding: 0;
    text-decoration: none;
    color: #9cb4ec; 
    margin: 1rem;
}

#removebtn {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: whitesmoke;
    color: #9cb4ec;
    border-radius: 10px;
    text-align: center;
    width: 5rem;
    height: 2rem;
    text-decoration: none;
}

.LikeButton {
    background-color: whitesmoke;
    color: #9cb4ec;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 52px;
    text-decoration: none;
    /* border: solid 2px; */
    /* border-color: #9cb4ec; */
    margin: 0 2rem;
}

.LikeButton1 {
    background-color: #9cb4ec;
    /* background-image: url("heart2.svg"); */
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 52px;
    text-decoration: none;
    /* border: solid 2px; */
    /* border-color: #9cb4ec; */
    float: right;
    margin: 0 2rem 1rem;
}

.addBtn {
    display: flex;
    justify-content: center;
} 


/*--EJS----------------------------------*/

section {
    display: flex;
    justify-content: center;
}
/*heart------------------*/
#heart {
    width: 5rem;
    position: absolute;

}


